        body {
            font-family: Garamond, serif;
            background-color: #5C3D2E;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Estilo do cabeçalho */
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #361500;
            padding: 3px 3px;
            color: #fff;
            position: relative;
        }

        /* Estilo do logotipo */
        .logo img {
            height: 50px;
            /* Tamanho do logotipo */
        }

        /* Estilo dos links do menu */
        .menu {
            display: flex;
            list-style: none;
        }

        .menu li {
            margin: 0 20px;
        }

        .menu li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            align-items: left;
        }


        /* Ícones no menu (apenas para Favoritos, Carrinho e Login) */
        .menu li.icon-only a {
            font-size: 23px;
            /* Tamanho dos ícones */
        }

        /* Estilo da barra de pesquisa */
        .search-bar {
            display: flex;
            align-items: center;
            margin-left: 10%;

        }

        .search-bar input[type="text"] {
            padding: 3px;
            border-radius: 5px;
            border: none;
            outline: none;
            width: 900px;
        }

        .search-bar button {
            margin-left: 7px;
            padding: 3px 3px;
            border: none;
            background-color: #555;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Toggle do menu para mobile */
        .menu-toggle {
            display: none;
            /* Esconde o ícone do menu em desktop */
            font-size: 30px;
            color: #fff;
            cursor: pointer;
        }

        /* Esconde o checkbox que controla o menu mobile */
        #menu-mobile {
            display: none;
        }

        /* Responsividade para telas menores */
        @media (max-width: 768px) {

            /* Ajuste para exibir o ícone do menu em mobile */
            .menu-toggle {
                display: block;
            }

            /* Esconde o menu padrão e barra de pesquisa em mobile */
            .menu,
            .search-bar {
                display: none;
            }

            /* Exibe o menu em coluna ao ativar o menu mobile */
            #menu-mobile:checked~nav .menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 10px 0;
            }

            .menu li {
                margin: 10px 0;
            }
        }

        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: left;
            padding: 10px 40px;
            text-decoration: none;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Create three unequal columns that floats next to each other */
        .column {
            float: left;
            padding: 10px;
        }

        /* Left and right column */
        .column.side {
            width: 25%;
        }

        /* Middle column */
        .column.middle {
            width: 50%;
        }

        /* Clear floats after the columns */
        .row::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {

            .column.side,
            .column.middle {
                width: 100%;
            }
        }

        h1 {
            text-align: center;
            margin-bottom: 10px;
            color: antiquewhite;
        }

        p {
            color: black;
            text-align: center;
            border-bottom: bisque;
        }

        footer {
            background-color: #361500;
            color: #fff;
            text-align: center;
            padding: 20px 10px;
        }

        footer .social-icons {
            margin: 10px 0;
        }

        footer .social-icons i {
            margin: 0 10px;
            font-size: 24px;
            color: #fff;
            cursor: pointer;
        }

        footer .social-icons i:hover {
            color: #ddd;
        }

        footer p {
            font-size: 14px;
            margin-top: 10px;
        }